/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Body styles */
body {
    background-color: #000000;
    color: white;
}

.logo-img {
    width: 80px;
    height: 80px;
}

.navbar {
    background-color: #15171B;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: #212327;
    transition: width 0.5s;
    padding-top: 40px; /* Added top padding to push content down */
    font-size: 12px;
    
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 20px;
}

.sidebar-nav a {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav a:hover {
    color: #ccc;
}

/* Make the sidebar take full width on smaller screens */
@media (max-width: 1366px) {
    .sidebar {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         transform: translateX(-100%);
         transition: transform 0.3s ease-in-out;
         margin-top: 64px;
         overflow-y: auto;
     }
    .sidebar.show {
         transform: translateX(0);
     }
    .sidebar-nav {
         flex-direction: row;
         justify-content: space-between;
         padding: 20px;
     }
    .sidebar-nav ul {
         flex-wrap: wrap;
     }
    .sidebar-nav li {
         margin-right: 20px;
     }
     .navbar-toggler {
        display: block!important;
    }

   .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
    }
 }


/* Main content area styles */
.main-content {
    padding: 20px;
}

/* Content area styles */
.content-area {
    background-color: #212327;
    border-radius: 20px;
    padding: 20px;
    /* Add additional styles as needed */
}

.burger-icon {
    position: absolute; /* Positioning burger icon absolutely */
    left: 0; /* Aligning to the very left side of screen */
}

.sidebar.scrolled {
    width: 0;
}


.scrolled.navbar-toggler {
    display: block;
}


.profile-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.signout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95%;
}

